{% extends "base.html" %}

{% block content %}
        {% for object in object_list %}
        <div class="article">
          <h2>{{ object.title }}</h2>
          <p class="infopost"><a href="#" class="com"><span>{{ object.date.strftime("%d") }}</span></a> Posted <span class="date">on {{ object.date.strftime("%d.%m.%Y") }}</span> by <a href="#">{{ object.user }}</a></p>
          <div class="clr"></div>
          <div class="img"><img src="{{ static }}{{ object.image }}" width="624" height="134" alt="" class="fl" /></div>
          <div class="post_content">
              {{ object.teaser|safe }}
              <p class="spec"><a href="{{ object.detail_path }}" class="rm">Read more &raquo;</a></p>
          </div>
          <div class="clr"></div>
        </div>
        {% endfor %}
        <!-- <p class="pages"><small>Page 1 of 2</small> <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p> -->
{% endblock %}
